<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993731843797-i1utbjqnfk0301e8pj5b921305qu85t7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993731843797-i1utbjqnfk0301e8pj5b921305qu85t7</string>
	<key>API_KEY</key>
	<string>AIzaSyCmpGTaJ2SYVD5goVX8N47eVgzPA8UecRM</string>
	<key>GCM_SENDER_ID</key>
	<string>993731843797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>qed.QED</string>
	<key>PROJECT_ID</key>
	<string>macc-qed</string>
	<key>STORAGE_BUCKET</key>
	<string>macc-qed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993731843797:ios:65b7120afd7aae497c345c</string>
</dict>
</plist>